DerivedData/
*.xcuserstate
xcuserdata/
*.moved-aside
*.hmap
build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
.research-*/
.toolcache/
